modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678

[[ports]]
localPort = 32887
externalPort = 3000

[[ports]]
localPort = 34025

[[ports]]
localPort = 37821
externalPort = 3001

[[ports]]
localPort = 42927

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Post"
mode = "sequential"
author = 42411914

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[agent]
integrations = ["javascript_database:1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-b0a6844f-3448-45a0-b53e-b12a0d4581b6"
